<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Details</title>
    <meta charset="UTF-8">
    <title>View Employee</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Employee Details</h2>
    <div>
        <label>First Name:</label>
        <span th:text="${employee.firstName}"></span>
    </div>
    <div>
        <label>Last Name:</label>
        <span th:text="${employee.lastName}"></span>
    </div>
    <div>
        <label>Email:</label>
        <span th:text="${employee.email}"></span>
    </div>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Back</a>
    </div>
</div>
</body>
</html>
